# Python cache
__pycache__/
*.pyc

# Datasets
dataset/

# Model files
*.h5
*.pt
*.onnx

# Virtual environments
tomato_env/
venv/
env/
.venv/

# Streamlit
.streamlit/
*.log

# OS files
.DS_Store
Thumbs.db
